*{
    margin: 0px;
    padding: 0px;
}



table{
    width: 60px ;
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
}

.Bruce{
    padding-right: 160px;
    padding-left: 80px;
    font-size: 50px;
}

td{
    padding-left: 40px;
    padding-top: 10px;
    color: white;
    cursor: pointer;
}

.container1{
    background-color: black;
    height: 100vh;
 } 
 .container3{
  
 height: 350px;
 margin-top: -300px;
 width: 300px;
 margin-left: 600px;
 object-fit: cover;
 border: 1px solid black;
 border-collapse: collapse;
 }

 .container2{
    font-size: 20px;
    color: white;
    margin-top:50px ;
  margin-left: 80px;
}

.container4{
    font-size: 25px;
    color: white;
    margin-top:5px ;
  margin-left: 80px;
}
.container5{
    font-size: 15px;
    color: white;
    margin-top:19px ;
  margin-left: 80px;
}
.container6{
    border: 2px solid white;
    border-collapse: collapse;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: -1px ;
    display: inline-block;
    border-radius: 0px;
    box-sizing: border-box;
 
    height: -10px;
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 2px;

}

h3{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    
}

button{
    background-color: transparent;
    height: 37px;
}
.container7{
    font-size: 15px;
    color: white;
    margin-top:5px ;
  margin-left: 900px;
  border: 1px solid black;
}

.container01{
    background-color: white;
    border: 1px solid white;
    padding: -1px;
    margin-left: 10px;
}

.text_container{
    margin-top: 140px;
}
.container02{
    font-size: 20px;
    color:black;
    margin-top:75px ;
  margin-left: 154px;
  border: 1px solid white;

}
.container03{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border: 1px soid white;
    margin-left: 10px;

}
/* .container03 img{
    width: 60%;
    height: 300px;
    object-fit: cover;
    margin: 10px;

} */


div.img_cont{
    width: 320px;
    height: 320px;
    background-image: url(./wrist\ w3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


div.img_cont1{
    width: 320px;
    height: 320px;
    background-image: url(./wrist\ w4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.img_cont2{
    width: 320px;
    height: 320px;
    background-image: url(./wrist\ w5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
div.img_gallery{
    display: flex;
    gap: 30px;
    margin-left: 70px;
    margin-top: 20px;
}

.core1{
    font-size: 14px;
    color: white;
}


.space1{
    background-color: #d8d4d4;
    width: 100%;
    height: 110vh;
    margin-top: 70px;
}

img.icon{
    margin-left: 270px;
}


.space_cont{
    font-size: 30px;
    
    color:black;
    padding-top: 100px;
  margin-left: 154px;
 
}

img.spaceimg1{
    height: 400px;
    object-fit: cover;
    width: 480px;
}

div.space3{
    margin-left: 150px;
    margin-top: 70px;
}


div.flex_cont{
    display: flex;
}

div.imgback{
    background-color: #aca8a8;
    width: 340px;
    height: 250px;
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}


img.spaceim{
    width: 300px;
    height: 200px;
    margin-top: 30px;
    object-fit: cover;
   
}

.text-cont{
    /* border: 1px solid  #d8d4d4;
    padding-top: 200px; */
    font-size: 18px;
}
.text-cont2{
    font-size: 10px;
    border: 1px solid #d8d4d4;
    padding-top: 28px;
}

/* 
div.text-cont{
    margin-top: 300px;
    text-align: center;
    
    
} */

.h1{
    width: 360px;
}

/* .text-cont{
    font-size: 18px;
    margin-top: 30px;
   
}

.text-cont1{
    font-size: 18px;
    margin-top: 350px;
} */
.text{
    margin-left: 690px;
   
    margin-top:-100PX;
}
.TEXT{
    margin-top: 14PX;
}







/* .core{
    background-color: #efefef;
    color: black;
}
.coreA{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border: 1px soid white;
    margin-left: 10px;

}

div.img_contA{
    width: 200px;
    height: 310px;
    background-image: url(./ww4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


div.img_contB{
    width: 200px;
    height: 310px;
    background-image: url(./ww3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.img_contC{
    width: 200px;
    height: 310px;
    background-image: url(./ww2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.img_contD{
    width: 200px;
    height: 310px;
    background-image: url(./ww\ 1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
div.img_pics{
    display: flex;
    gap: 30px;
    margin-left: 70px;
    margin-top: 20px;
} */






.style{
    background-color: #efefef;
    color: black;
}
.text1{
    font-size: 20px;
    color:black;
    /* margin-top:75px ; */
  margin-left: 75px;
  border: 1px solid  #efefef;
  padding: 70px;
}


.textpics{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 310px; 
   border: 1px solid  #efefef;
   padding-left: 120px;
}
.textpics img{
    width: 230px;
    height: 310px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid black;
}

.imgcard{
    margin: 20px;
    text-align: left;
}
.imgtext{
    font-size: 16px;
    margin-top: 10px;
}
.bold{
    font-weight: normal;
}
.small{
    font-size: 10px;
    font-weight: normal;
}








/* .abtus{
    background-color: #d9d9d9;

}
/* .abttext{
    font-size: 20px;
    color:black;
    /* margin-top:195px ; */
  /* margin-left: -770px;
  padding:200PX;
} */ 





.abt_us{
    background-color: #d9d9d9;
}
.abt_text{
    font-size: 40px;
    padding-top: 250px;
    margin-left: 60px;
}
.abt_text1{
    font-size: 20px;
    padding-top:50px ;
    margin-left: 60px;
    text-align: justify;
    padding-bottom: 20px;
}
.more a{
color: black;
margin-left:60px ;
}

.abt_img{
    height: 552px;
 margin-top: -520px;
 width: 797px;
 margin-left: 550px;
 object-fit: cover;
}











.blog{
    background-color: #efefef;
}
.blog_text{
    color: black;
    font-size: 40px;
    padding-top: 50px;
    margin-left: 620px;
}

.blog_img{
    display: flex;
    justify-content: safe;
    align-items: center;
    /* padding: 0 50px; */
    /* border: #efefef; */
}










.sus{
     background-color: white;
     color: black;
     padding-top: 100px;
     margin-left: 370px;
     height: 160px;
}
.sus1{
    font-style: italic;
    font-size: 25px;
    margin-left: 120px;
}
.sus3{
    margin-left: 120px;
}













.fot{
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 17px;
    height: 140px;
}
.who{
    padding-left: 270px;
    margin-top: -125px;
}

.service{
    padding-left: 500px;
    margin-top: -145px
}

.help{
    padding-left: 770px;
    margin-top: -140px
}
.follow{
    padding-left: 980px;
    margin-top: -180px

}

div.icon{
    margin-left: 980px;
    margin-top: 30px;
}
.offer{
color: white;
font-size: 11px;
}
.mail{
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
    
}
.Sign{
   background-color: white;
   color: gray;
   padding: 10px;
   margin-left: 70px;
   margin-top: -100px;
}